body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 100px;
}

select {
  float: none;
  margin: 0 auto;
  max-width: 250px;
}

.container {
  height: 200px;
  text-align: center;
}

#target {
  position: relative;
}

/*Rainbow Magic!*/
@mixin rainbowMaker() {
  @for $i from 1 through 100 {
    #{percentage($i / 100)} { color: hsl(round((360 * $i / 100)), 100%, 50%);}
  }
}

@-webkit-keyframes color-change {
  @include rainbowMaker();
}

@-moz-keyframes color-change {
  @include rainbowMaker();
}
@-ms-keyframes color-change {
  @include rainbowMaker();
}
@-o-keyframes color-change {
  @include rainbowMaker();
}
@keyframes color-change {
  @include rainbowMaker();
}

$transition: 30000ms;

.rainbow {
  border: 0 solid black;
  -webkit-animation: color-change $transition infinite;
  -moz-animation: color-change $transition infinite;
  -o-animation: color-change $transition infinite;
  -ms-animation: color-change $transition infinite;
  animation: color-change $transition infinite;
}

