$transition: 30000ms;

.rainbow {
  -webkit-animation: color-change $transition infinite;
  -moz-animation: color-change $transition infinite;
  -o-animation: color-change $transition infinite;
  -ms-animation: color-change $transition infinite;
  animation: color-change $transition infinite;
}

@-webkit-keyframes color-change {
  @for $i from 1 through 100 {
    #{percentage($i / 100)} { color: hsl(round((360 * $i / 100)), 100%, 50%);}
  }
}

@-moz-keyframes color-change {
  @for $i from 1 through 100 {
    #{percentage($i / 100)} { color: hsl(round((360 * $i / 100)), 100%, 50%);}
  }
}
@-ms-keyframes color-change {
  @for $i from 1 through 100 {
    #{percentage($i / 100)} { color: hsl(round((360 * $i / 100)), 100%, 50%);}
  }
}
@-o-keyframes color-change {
  @for $i from 1 through 100 {
    #{percentage($i / 100)} { color: hsl(round((360 * $i / 100)), 100%, 50%);}
  }
}
@keyframes color-change {
  @for $i from 1 through 100 {
    #{percentage($i / 100)} { color: hsl(round((360 * $i / 100)), 100%, 50%);}
  }
}
body {
  font-family: 'Open Sans', sans-serif;
}